.container {
  max-width: 48rem;
  width: 100%;
  margin: 0 auto;

  padding: 0 1.5rem;
}

.table-cell {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.table-cell_title {
  font-weight: 600;
}

.table-cell_subtitle {
  font-weight: 400;
}

.subtitle-gray {
  color: #747474;
}

.subtitle-black {
  color: #000;
}

.subtitle-red {
  color: #ff0000;
}

.table-cell_details {
  font-weight: 700;
}

.table-cell_title,
.table-cell_subtitle,
.table-cell_details {
  line-height: 145%;
}
